.add-review-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-review-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 40%
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    color: crimson;
    font-size: x-large;
    font-weight: 900;
}

.rating-content {
    display: flex;

}

textarea {
    padding: 5px;  
    height: 10rem;
    width: 100%;
}