.DetailsPage {
    font-family: Arial, sans-serif;
  }
  /*form*/
  .wrapper {
    max-width: 500px;
    margin: 3% auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5%;
  }
  /*title*/
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  /*inputs*/
  input[type="text"],
  select,
  input[type="date"],
  input[type="time"],
  button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  /*select*/
  select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>') no-repeat right 10px center/15px;
  }
  /*buttons*/
  button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
