*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    background-image: url(HomePageImage.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.container-home h1{
    font-size: 50px;
    color: white;
}
/* .container-home h1::after{
    content:"";
    height: 6px;
    width:auto;
    background-color:white;
    border-radius: 6px;
    position: relative;
    display: block;
    margin: auto;
} */
.content-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.content-home p{
    font-size: 20px;
    color: white;
}
    
@keyframes text-move {
    from {
        transform: translateX(-2000px);
    }
    to{
        transform: translateX(0px);
    }
}
.container-home h1{
    animation-name:text-move;
    animation-duration: 5s;
    animation-fill-mode: forwards;
   
    
}
@keyframes paragraph-move {
    from {
        transform: translateX(2000px);
    }
    to{
        transform: translateX(0px);
    }
}
.content-home p{
    animation-name:paragraph-move;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}