*{
    margin: 0;
    padding: 0;
}

.HomePage {
    position: relative;
    text-align: center;
    color: white;
}

.HomePageContent p {
    color: white;
    font-size: 19px;
    line-height: 1.6;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.HomePageImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.HomePageContent {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}