/* body {
    background-image: url("../assets/horoscope_background_upscayl_3x_realesrgan-x4plus.jpg");
    background-size: cover;
    background-position: center;
} */

.userInput label, .userInput input {
    display: block;
}

.userInput input {
    height: 2.5rem;
    width: 30rem;
    padding: 2px 8px;
    border-radius: 5px; /* or any desired value */
    border: 1px solid black;
    outline: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0.90;
}

.content {
    background-color: cadetblue;
    color: #F7F7F7;
    padding: 2rem;
    border-radius: 10px;
}

.content h1 {
    font-size: 2rem;
    color: #0f0f0f;
}


.userInput {
    margin-bottom: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between; 

}

/*buttons*/  
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
  }
    
.btn:hover {
    background-color: #0056b3;
}

.userInput .error {
    color: crimson;
    font-size: 13px;
    padding: 1.5px 1px 0 1px;
    height: 0.65rem;
}