.content {
    padding-top: 4rem;
    background-color: #282424;
    height: 100vh;
}

.content h1 {
    text-align: center;
    color: #F1F8E9;
}

.reviewsContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin: 1.2rem;
}

.reviewsContainer .reviewCard {
    margin: 30px;
}


@media screen and (min-width: 600px) {
    .reviewsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .reviewsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}